@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

.about {
  background-color: #000; /* Set the background color to black */
  color: #FFA500; /* Set the text color to orange */
}

.showcase h6 {
    color: #aea512;
    text-transform: uppercase;
  }
  
  .showcase h1,
  .showcase h4,
  .showcase .sm {
    color: #EA580C;
  }
  
  .showcase img {
    width: 100px;
    height: 100px;
    margin: 5px 0;
  }
  
  .showcase p {
    font-size: 17px;
  }